version: "2.3"
volumes:
  ssl:
  uploads:
  data-admin:
  data-end-user:
services:
  nginx:
    build:
      context: infrastructure/docker/nginx
    mem_limit: 128m
    ports:
      - ${HTTP_PORT}:8080
    environment:
      - UPSTREAM_SERVER=linkeddatahub
      - UPSTREAM_HTTP_PORT=7070
      - SERVER_NAME=${HOST}
      - SERVER_HTTP_PORT=8080 # because of nginx-unprivileged
      - MAX_BODY_SIZE=2097152
    networks:
      default:
        aliases:
          - ${HOST}
  processor:
    build:
      context: infrastructure/docker/processor
    mem_limit: 512m
    environment:
      - ENDPOINT="https://sparql.opendatahub.testingmachine.eu/sparql"
      - GRAPH_STORE="https://sparql.opendatahub.testingmachine.eu/service" # not used but needs a value
      - ONTOLOGY="https://kg.opendatahub.bz.it/ns/templates#"
  processor-nginx:
    build:
      context: infrastructure/docker/processor-nginx
    mem_limit: 128m
    depends_on:
      - processor
    ports:
      - 8888:80
    environment:
      - PROXY_PASS=http://processor:8080 # internal Processor URL (hostname equals docker-compose service name)
      - PROXY_SET_HOST=${HOST} # the hostname set on the request URI before it's passed to Processor
  linkeddatahub:
    build:
      context: infrastructure/docker/linkeddatahub
      args:
        BASE_URI: ${PROTOCOL}://${HOST}${ABS_PATH} # will break with explicit port numbers
        OWNER_GIVEN_NAME: ${OWNER_GIVEN_NAME}
        OWNER_FAMILY_NAME: ${OWNER_FAMILY_NAME}
        OWNER_ORG_UNIT: ${OWNER_ORG_UNIT}
        OWNER_ORGANIZATION: ${OWNER_ORGANIZATION}
        OWNER_LOCALITY: ${OWNER_LOCALITY}
        OWNER_STATE_OR_PROVINCE: ${OWNER_STATE_OR_PROVINCE}
        OWNER_COUNTRY_NAME: ${OWNER_COUNTRY_NAME}
        OWNER_CERT_PASSWORD: ${OWNER_CERT_PASSWORD}
        SECRETARY_CERT_PASSWORD: ${SECRETARY_CERT_PASSWORD}
    mem_limit: 1024m
    environment:
      - CATALINA_OPTS=-XX:+UseContainerSupport -XX:MaxRAMPercentage=75 # heap will use up to 75% of container's RAM
      - TZ="Europe/Copenhagen"
      #- CATALINA_OPTS="-Duser.timezone=Europe/Copenhagen"
      - PROXY_SCHEME=http
      - PROXY_HOST=nginx
      - PROXY_PORT=8080 # HTTP
      - PROTOCOL=${PROTOCOL}
      - HOST=${HOST}
      - ABS_PATH=${ABS_PATH}
      - HTTP_SCHEME=${PROTOCOL}
      - HTTP_PORT=7070
      - HTTP_PROXY_NAME=${HOST}
      - HTTP_PROXY_PORT=${HTTPS_PORT}
      - HTTP_REDIRECT_PORT=${HTTPS_PORT}
      - HTTPS_PROXY_PORT=${HTTPS_PORT}
      - HTTPS=false
      - CLIENT_KEYSTORE_PASSWORD=${SECRETARY_CERT_PASSWORD}
      - CLIENT_TRUSTSTORE_PASSWORD=LinkedDataHub
      # - SELF_SIGNED_CERT=true # only on localhost
      - SIGN_UP_CERT_VALIDITY=180
      - IMPORT_KEEPALIVE=300000
      - MAX_CONTENT_LENGTH=2097152
      - MAIL_SMTP_HOST=email-server
      - MAIL_SMTP_PORT=25
      - MAIL_USER=linkeddatahub@localhost
      - OWNER_MBOX=${OWNER_MBOX}
      # - GOOGLE_CLIENT_ID=
      # - GOOGLE_CLIENT_SECRET=
    volumes:
      - uploads:/var/www/linkeddatahub/uploads
  fuseki-admin:
    build:
      context: infrastructure/docker/fuseki-admin
    mem_limit: 1024m
    user: root # otherwise fuseki user does not have permissions to the mounted folder which is owner by root
    volumes:
      - data-admin:/fuseki/databases
    command: [ "--config", "/fuseki/config.ttl" ]
  fuseki-end-user:
    build:
      context: infrastructure/docker/fuseki-end-user
    mem_limit: 1024m
    user: root # otherwise fuseki user does not have permissions to the mounted folder which is owner by root
    volumes:
      - data-end-user:/fuseki/databases
    command: [ "--config", "/fuseki/config.ttl" ]
  varnish-admin:
    build:
      context: infrastructure/docker/varnish-admin
    mem_limit: 256m
    user: root # otherwise fuseki user does not have permissions to the mounted folder which is owner by root
    depends_on:
      - linkeddatahub
    tmpfs: /var/lib/varnish:exec
    environment:
      - BACKEND_HOST=fuseki-admin
      - BACKEND_PORT=3030
      - CLIENT_HOST=linkeddatahub
      - VARNISH_TTL=86400
      - VARNISH_SIZE=1G
    entrypoint: /bin/sh -c "envsubst < /etc/varnish/default.vcl.template > /etc/varnish/default.vcl && /usr/local/bin/docker-varnish-entrypoint"
  varnish-end-user:
    build:
      context: infrastructure/docker/varnish-end-user
    mem_limit: 256m
    user: root # otherwise fuseki user does not have permissions to the mounted folder which is owner by root
    depends_on:
      - linkeddatahub
    tmpfs: /var/lib/varnish:exec
    environment:
      - BACKEND_HOST=fuseki-end-user
      - BACKEND_PORT=3030
      - CLIENT_HOST=linkeddatahub
      - VARNISH_TTL=86400
      - VARNISH_SIZE=1G
    entrypoint: /bin/sh -c "envsubst < /etc/varnish/default.vcl.template > /etc/varnish/default.vcl && /usr/local/bin/docker-varnish-entrypoint"