pid /tmp/nginx.pid;

events { 
    worker_connections 1024;
}

http {
    upstream linkeddatahub {
        server $UPSTREAM_SERVER:$UPSTREAM_HTTP_PORT;
    }

    limit_req_zone $binary_remote_addr zone=linked_data:10m rate=6r/s;
    limit_req_zone $binary_remote_addr zone=static_files:10m rate=20r/s;
    limit_req_status 429;

    client_max_body_size $MAX_BODY_SIZE;

    server {
        listen $SERVER_HTTP_PORT;
        server_name $SERVER_NAME;
    }

}